.DS_Store

# Cache directories and byte-code files
*.py[cod]
__pycache__/
.pytest_cache/

# Environment variables (automatically loaded by pipenv)
.env

# Distribution directories and files
dist/
build/
*.egg-info
*.spec

# Static files collected with "manage.py collectstatic"
static/

# Files
*.tif
*.json
analysis/data/
!analysis/data/.gitkeep
analysis/rois/
!analysis/rois/.gitkeep
analysis/results/
!analysis/results/.gitkeep

# Editor directories and files
.idea
.vscode
.vs

# Coverage reports
htmlcov
