.DS_Store

# Cache directories and byte-code files
*.py[cod]
__pycache__/
.pytest_cache/

# Environment variables (automatically loaded by pipenv)
.env

# Distribution directories and files
dist/
build/
*.egg-info
*.spec

# Static files collected with "manage.py collectstatic"
static/

# Files
*.tif
*.json
!analysis/.gitkeep
!analysis/data/.gitkeep
!analysis/rois/.gitkeep
!analysis/results/.gitkeep

# Editor directories and files
.idea
.vscode
.vs

# Coverage reports
htmlcov

# DB file
**.nc

# Virtual environment directories and files
venv
.venv