[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[packages]
numpy = "*"
pandas = "*"
pillow = "*"
bokeh = "*"
xarray = "*"
tifffile = "==0.15.1"
scipy = "*"
"h5py" = "*"
"netcdf4" = "*"

[dev-packages]
yapf = "*"
"flake8" = "*"
ipython = "*"
